html, body, #root, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f0f;
}

canvas {
  display: block;
}


#game-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
